.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh    
}

.gridSquare {
    border: 1px solid black;
    /* background-color: aqua; */
    flex: 1 1 0%
}

.gridRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1vh;
    flex: 1 1 0%
}

.mouseOverStyle {
    background-color: red;
}