.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1vh;
    
}

.gridSquare {
    border: 1px solid black;
    background-color: aqua;
    height:100px;
    width: 100px;
}